body {
    font-family: Arial;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}
a{
    color:#ee467a;
    opacity: 0.7;
}
a:hover {
    color:#ee467a;
    text-decoration: underline;
}
btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0.0rem rgba(0,123,255,.25);
}
.form-control:focus {
    border-color: #c7c1c1;
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgba(0, 123, 255, 0.25);
}
/*.navbar {
    background-color: #EF5D8F;
}*/
/*delete on slider*/
.profile-pic {
    /*position: relative;*/
    display: inline-block;
}
.slider-content:hover .edit{
    display: block;
}
.profile-pic:hover .edit {
    display: block;
}

.edit {
    /*padding-top: 7px;*/
    padding-right: 17px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.edit a {
    color: #000;
}
/*slider*/
.text-muted {
    color: #6c757d!important;
}
.slider-content{
    /*margin: 10px;*/
    /*background-color:#FBFBFB;*/
    /*height: 50px;*/
    /*border: 1px solid #979797;*/
    /*float: left;*/
    /*border-radius: 2px;*/
    /*color:#6f6c6c;*/
    /*text-align: center;*/
    /*overflow: auto;*/
    /*word-wrap: break-word;*/
    /*overflow-x:hidden;*/
    /*margin-left: auto;
    margin-right: auto;*/
    /*display: block;*/
}
.slideNext {
    width : 2% !important;
}
.my-board-slider .panel.panel-default {
    padding: 25px 12px 12px 12px;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 80px;
    min-height: 80px; 
    /* height: 90px;
    display: table-cell;
    vertical-align: middle; */
}
.my-board-slider .panel.panel-default .profile-pic {
    display: block;
}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
.control-dir{
    width: 1% !important;
}
#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
/*slider*/
/*admin-message*/
.apporve{
    margin-right:20px !important;
}
.toggle{
    width: 120px !important;
}
.toggle.ios{
    border-radius: 5px;
    padding-top: 0px !important;
 }
.toggle-off {
    background-color: #ee467a !important;
    padding-top: 5px !important;
 }
.toggle-on {
    padding-top: 5px !important;
 }
.messgeData td{
    border-top: 0px;
}
.relationData td{
    border-top: 0px;
    padding-right: 1.75em !important;
}
.categoryData td{
    border-top: 0px;
    padding-right: 1.75em !important;
}
.note-popover{
    display: none;
}
.btn-add-message{
    float: right;
    background-color: #ee467a;
    color: #fff;
}
.btn-pink{
    background-color: #ee467a;
    color: #fff;
}
.btn-gray{
    background-color: #efefef;
    color: #ee467a;
}

.btn-add-message:hover{
    color: #fff;
}
.dataTables_wrapper table thead{
    display:none;
}
.error {
      color: red;
   }
/*admin-message*/
/*share message*/
.admin-message{
     background-color:#FBFBFB;
     height: 100px;
     align-items: center;
     border: 1px solid #979797;
     border-radius: 3px;
     color:#6f6c6c;
     padding: 12px;
     overflow: auto;
     word-wrap: break-word;
     overflow-x:hidden;
}
.admin-text{

}
.wrap{
    text-align:center
}
.share-left{
    margin: 5px;
    background-color:#FBFBFB;
    height: 100px;
    border: 1px solid #979797;
    float: left;
    border-radius: 8px;
    color:#6f6c6c;
    overflow: auto;
    word-wrap: break-word;
    overflow-x:hidden;
    text-align: left;
}
.share-right{
    margin-top: 5px;
    margin-left: 10px;
    background-color:#FBFBFB;
    height: 100px;
    border: 1px solid #979797;
    float: right;
    border-radius: 8px;
    color:#6f6c6c;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    overflow-x:hidden;
}
.note-content{
    margin: 5px;
    background-color:#FBFBFB;
    height: 100px;
    border: 1px solid #979797;
    float: left;
    border-radius: 4px;
    color:#6f6c6c;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    overflow-x:hidden;
    text-align: left;
}
.share-center{
    background-color:#ee467a;
    min-height: 30px;
    align-items: center;
    border: 1px solid #ee467a;
    border-radius: 10px;
    display:inline-block;
    margin-top: 30px;
    border-radius: 8px;
    opacity: 0.7;
    color:#fff;
    text-align: center;

}
.note-title{
    margin: 5px;
    background-color:#FBFBFB;
    min-height: 40px;
    border: 1px solid #979797;
    float: left;
    border-radius: 8px;
    color:#6f6c6c;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    overflow-x: hidden;
    max-height: 50px;
}
.note-support{
    background-color:#ee467a;
    min-height: 40px;
    align-items: right;
    border: 1px solid #ee467a;
    border-radius: 10px;
    display:inline-block;
    border-radius: 8px;
    opacity: 0.7;
    color:#fff;
    padding: 6px;
}
.note-text{
    background-color:#FBFBFB;
    min-height: 200px;
    align-items: right;
    border: 1px solid #979797;
    border-radius: 10px;
    display:inline-block;
    border-radius: 8px;
    opacity: 0.7;
    padding: 9px;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    overflow-x:hidden;
}
.element-desc{
    background-color:#FBFBFB;
    min-height: 140px;
    align-items: right;
    border: 1px solid #979797;
    border-radius: 10px;
    display:inline-block;
    border-radius: 8px;
    opacity: 0.7;
    padding: 18px;
    text-align: center;
}
.element-content{
    margin: 5px;
    background-color:#FBFBFB;
    height: 140px;
    border: 1px solid #979797;
    float: left;
    border-radius: 8px;
    color:#6f6c6c;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    overflow-x:hidden;
}
/* Heart of the matter */
@media (min-width: 768px) {
  .ten-columns > .col-sm-2 {
    width: 20%;
  }
}

/* Decorations */
.share-tags {
    background: #ee467a;
    color: #fff;
    font-size: 14px;
    min-height: 35px;
    padding-top: 6px;
    border: 1px solid #979797;
    border-radius: 8px;
    margin: 12px;
    opacity: 0.7;
    text-align: center;
}
.share-tags:nth-of-type(even) { background: #ee467a; }
/*share message*/
.navbar{
	background-color: #fff;
    padding:0 1rem;
    align-items: end;
}
span.td-container {
  height: 34px !important;
  overflow-y : hidden;
  display: inline-block;
}
.custom-nav-part {
    padding-top: 30px;
    padding-left:10px;
    padding-right:10px;
    display: block;

}
.addNotificationclr{
    background-color:#F5F5F5;
}
.allLink{
    color:#ee467a;
    opacity: 0.7;
}
.allLink a{
    display: block;
    color:#ee467a;

}
button:focus {
     outline: 0px dotted; 
    /* outline: 5px auto -webkit-focus-ring-color; */
}
.user-profile-content {
    right:0;
    left:auto !important;
    min-width: 18rem;
    position: relative;
    box-shadow:0px 0px 30px 1px rgba(0,0,0,0.15);
    border:none;
}

.user-profile-content:after {
    position: absolute;
    top: -10px;
    right: 15px;
    content: "";
    border-bottom: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.search-text-color{
    color:#999999;
    font-size: 0.9em;
    
}
.search-follow{
    border-color: #ee467a;
    border-radius: 7px;
}
.desc{
    font-size: 0.9em;
}
.searchdesc{
    text-align: justify;
    display:block;
}
.table-text-color{
    background-color:#ee467a;
    font-size: 0.9em;
    margin-right: 4px;
    border-radius: 3px;
    padding: 3px;
    color: #fff;
    opacity: 0.7;
}

.has-feedback {
    position: relative;
}

.main {
    width: 50%;
    margin: 20px auto;
}

.has-search .form-control-feedback {
    left: 10px;
    color: #ccc;
    position: absolute;
    top: 12px;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.user-email {
    font-size:14px;
    color:#999999;
    line-height: 1;
    margin-bottom: 0;
}
/*signin error*/
.signin-error{
    padding: 0.0rem 0.4rem;
    margin-bottom: 0.5rem;
}
/*complete*/

.log-detail {
    color:#ee467a;
    font-size: 14px;
}

.log-detail a{
    display: block;
    color:#ee467a;

}
.login-nav-text a{
    display: block;
    color:#ee467a;

}
.user-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 10px 10px 30px 10px;

}
.custom-file-input{
    height: 0px;
}
.user-photo {
    width:70px;
}
.hidden{
    display: none;
}
.fileUpload{
    position: relative;
    display: inline-block;
    margin-bottom:20px;
}
.pagination{
    justify-content:center !important;
}
.page-item.active .page-link{
    background-color:#ee467a;
    border-color:#ee467a;
    opacity: 0.7;
    /*border:0px;*/
}
/*seemore css*/
#bridgeList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#loadnotify {
    color:green;
    cursor:pointer;
}
#loadnotify:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
/*see more complete*/
#bridgeList p {
    display: none;
}
#profileData p {
    display: none;
}
#notificationData tr {
    display: none;
}
.note_title{
    font-weight: bold;
}
.uploadIcon{
    position: absolute;
    /* left: 40px; */
    right: -16px;
    bottom: -4px;
    border-radius: 60%;
    /*border: 1px solid #ee467a;
    background-color: #ee467a;*/
    line-height: 2px;
    padding: 5px;
    display: none;
    /* opacity: 0.7; */
}
.fileUpload:hover .uploadIcon {
    display: block;
}
.edit-input {
    display:none;
}
.edit-icon{
    display: none;
}
.edit-icon a{
 padding: 0px;
}
.userDetail:hover .edit-icon {
    display: block;
}
.notify{
    margin-top: -0.8rem;
}
.notification_time{
    color: #008000;
    font-weight: bold;
}
.username{
    display: inline-block;
    float: left;
    width: 75%;
    word-wrap: break-word;
    cursor: pointer;
}
.userName{
    outline: none;
    margin-bottom: 10px;
}
.user_header{
    display: block;
    overflow: hidden;
}
.notification_count {
    height: 20px;
    width: 20px;
    background-color: #ee467a;
    border-radius: 50%;
    color: #fff;
    opacity: 0.7;
    display: inline-table;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 1111;
}
/*follow button start*/
button .msg-follow,
button .msg-following,
button .msg-unfollow{
  display: none;
}
.following{
    border-radius: 4px;
}
button .msg-follow{
  display: inline;
}

button.following .msg-follow{
  display: none;
}

button.following .msg-following{
  display: inline;
}

button.following:not(.wait):hover .msg-following{
  display: none;
}

button.following:not(.wait):hover .msg-unfollow{
  display: inline;
}
/**/
/*accordian*/
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
/**/
.dashboard-photo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.edit_name{
    display: inline-block;
    float: left;
    width: 25%;
    padding: 0px;
}

.user-name {
    font-size:18px;
    margin-bottom: 0;
}

.user-details {
    flex:1 1 auto;
    padding-left:10px;
}

.user-photo img {
    border-radius: 50%;
}

.icon-search-menu {
    padding-top:5px;
}

.img-div {
    width:35px;
}

.img-div img{
    border-radius: 50%;
}

.dropdown-toggle:after {
    content: none;
}

.dashboard-text {
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ee467a;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
}

.custom-menu .nav-item .nav-link {
    padding-top:37px;
    padding-left:20px;
    padding-right:20px;
    color: #999999;
    text-transform: uppercase;
    font-size: 13px;
}
.notificationData{
    position: relative;
}

.navbar-nav .nav-link:hover {
   box-shadow:inset 0 4px 0 0 #ee467a;
   color:#272727;
}

.dataTables_filter {
   float: left !important;
}
.loginbar{
	background-color: #EF5D8F;
	padding: 0px;
	text-align:center;
}
.jumbotron {
	background:#fff;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    padding-top:1rem;
}

.dropdown-menu{
	padding:0px;
	margin:0.5rem 0 0;
}
.login-raw{
	padding: 14px 14px 0px;
}
.hint{
	margin-bottom: 10px;
    color: #3a87ad;
    font-size: 11px;
}
.btn-register{
	background-color: #EF5D8F;
	color: #fff;
}
.btn-signin{
	background-color: #efefef;
}
.navbar-brand {
    /*color: #fff !important;*/
    border-bottom: 0 solid transparent;
    background:transparent;
    font-size: x-large;
    padding: 15px 0px;
    width:15%;
}
.term-note{
	color: #EF5D8F;
}
.login-brand{
	margin: 8px;
	color: #fff !important;
	text-align:center !important;
}
.social-submit{
	float: right;

}
#login-form{
	display: none;
}
.footer-login{
	background-color: #efefef;
	text-align:center;
	border-top: 1px groove;
	font-size: 12px;
	margin-top: 25px;
}
.mt-18{
	margin-top: 18px;
}
/*search page css start*/
#myInput		{
  width:30%;
  -webkit-transition:width 0.3s ease-in-out;
}
#myInput:focus	{
  width:100%;
  -webkit-transition:width 0.5s ease-in-out;
}
.top-search{
	padding-top: 0rem!important;
}
/*search page css end*/
#login-dp{
    max-width: 350px;
    overflow:hidden;
    background-color:#fdfdfd;
    width: 350px;
    left: auto;
    right: 0;
}
#login-dp .help-block{
    font-size:12px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0;

}
#login-dp .social-buttons button{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 11px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 11px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 11px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 11px;
}
